<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DNS Tool</title>
    <script src="/assets/js/app.js"></script>
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
    <div class="container">
        <form method="get">
            <input type="text" id="domain-input" placeholder="Enter domain name" />
            <button type="submit" id="dns-search-button">
                Search
            </button>
        </form>
        <div class="results">
            <div>
                <span>
                    <img alt="Flag of the United Sates of America" class="flag-icon" src="/assets/images/flags/usa.svg" />
                </span>
                <span id="usa">
                    -
                </span>
            </div>
            <div>
                <span>
                    <img alt="Flag of the United Kingdom" class="flag-icon" src="/assets/images/flags/united-kingdom.svg" />
                </span>
                <span id="uk">
                    -
                </span>
            </div>
            <div>
                <span>
                    <img alt="Flag of Sweden" class="flag-icon" src="/assets/images/flags/sweden.svg" />
                </span>
                <span id="sweden">
                    -
                </span>
            </div>
            <div>
                <span>
                    <img alt="Flag of France" class="flag-icon" src="/assets/images/flags/france.svg" />
                </span>
                <span id="france">
                    -
                </span>
            </div>
            <div>
                <span>
                    <img alt="Flag of Australia" class="flag-icon" src="/assets/images/flags/australia.svg" />
                </span>
                <span id="australia">
                    -
                </span>
            </div>
            <div>
                <span>
                    <img alt="Flag of China" class="flag-icon" src="/assets/images/flags/china.svg" />
                </span>
                <span id="china">
                    -
                </span>
            </div>
            <div>
                <span>
                    <img alt="Flag of India" class="flag-icon" src="/assets/images/flags/india.svg" />
                </span>
                <span id="india">
                    -
                </span>
            </div>
        </div>
        <div class="content">
            <h1>
                DNS Propagation Checker
            </h1>
            <p>
                Simply enter your websites domain name to see which IP address your domain is currently pointing at. We
                query a number of reliable public Domain Name Servers so you can find out whether your domain has fully
                propagated in various locations around the globe.
            </p>
            <p>
                This app is free to use and open source, and has been made public facing to benefit other developers and
                website owners. No adverts, no cookies, just fast DNS lookup.
            </p>
            <p>
                If you're interested in seeing how this was built, want to contribute or have any issues, take a look at
                the <a href="https://github.com/WinningWebSoftware/dns-tool" target="_blank">GitHub repo</a>.
            </p>
        </div>
    </div>
</body>
</html>