<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/favicon.png">

    <title>Ah Ah Ah</title>

    <style>
        * {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;
          overflow: hidden;
        }
    </style>
</head>
<body>
    <div>
        <img src="/assets/images/nope.gif" alt="Ah Ah Ah" />
    </div>
</body>
</html>