@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
@import url('../../node_modules/@fortawesome/fontawesome-pro/css/all.min.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #4d4d4d;
}
.container {
  margin: 1rem auto;
  width: 70vw;
}
form {
  display: flex;
  margin: 1rem 0;

  input[type="text"] {
    padding: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
    width: 100%;
    color: #4d4d4d;
    border: 1px solid #ebebeb;

    &::placeholder {
      font-weight: 200;
    }
  }
  button {
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    padding: .5rem;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
    font-size: 1.15rem;

    &:hover {
      background-color: #fff;
      color: #4d4d4d;
    }
  }
}
.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.results {
  border: 1px solid #ebebeb;

  &> div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 80px;

    span {
      padding: .75rem;
      line-height: 3rem;
      border-bottom: 1px solid #ebebeb;
      display: flex;
      align-items: center;
      font-size: 0.9rem;

      &:first-of-type {
        border-right: 1px solid #ebebeb;
        font-weight: 600;
        justify-content: center;
      }
      &:last-of-type {
        font-weight: 600;
      }
    }
    &:last-of-type {
      span {
        border-bottom: none;
      }
    }
  }
}
.spinner-img {
  height: 46px;
  width: auto;
}
.fa-circle-xmark {
  color: #a82d2d;
}
.fa-circle-check {
  color: #267c36;
  margin-right: .5rem;
}
.flag-icon {
  height: 32px;
  width: auto;
}
.content {
  margin: 1rem 0;
  font-size: 1rem;
  color: #4d4d4d;

  p {
    margin: .75rem 0;
  }
}